body {
    font-family: 'Papyrus', sans-serif;
    background-color: #ffccf9; /* Light pink */
    color: #006400; /* Dark green */
    text-align: center;
    padding: 20px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333; /* Dark grey */
    color: #ccc; /* Light grey */
}

.bkd, .ajm {
    font-size: 32px;
    font-weight: bold;
}

.bkd:nth-child(1), .ajm:nth-child(1) { color: red; }
.bkd:nth-child(2), .ajm:nth-child(2) { color: green; }
.bkd:nth-child(3), .ajm:nth-child(3) { color: blue; }
.ajm:nth-child(4) { color: blue; }

.btn {
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
}

.btn-option {
    margin: 5px;
    font-size: 18px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff; /* Bootstrap primary blue */
    border: none;
    border-radius: 5px;
    display: inline-block;
}

#colorResults, #timerHistory, #challengeResults {
    margin-top: 20px;
    font-size: 20px;
}

.bkd {
    font-size: 32px;
    font-weight: bold;
    }

.bkd:nth-child(1) { color: red; }    /* B */
.bkd:nth-child(2) { color: green; }  /* K */
.bkd:nth-child(3) { color: blue; }   /* D */

.ajm {
    font-size: 32px;
    font-weight: bold;
    }

.ajm:nth-child(1) { color: red; }    /* A */
.ajm:nth-child(2) { color: green; }  /* J */
.ajm:nth-child(3) { color: blue; }   /* M */
.ajm:nth-child(4) { color: blue; }   /* C */

.main-content {
    margin: auto;
    width: 500px;
    padding: 20px;
    border: 2px dashed #ff4500; /* Orange red */
    border-radius: 10px;
    background-color: #ffffe0; /* Light yellow */
}

.btn {
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
}

#timerHistory, #challengeResults {
    color: #000080; /* Navy */
}

#startGhostGame, #bustGhost {
    margin: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
}
#timerHistory, #challengeResults {
    color: #000080; /* Navy */
}

.btn-option {
    margin: 5px;
    font-size: 18px;
    padding: 10px 20px;
    color: white;
    background-color: #007bff; /* Bootstrap primary blue */
    border: none;
    border-radius: 5px;
    display: inline-block; /* Ensure buttons are visible */
}

#colorResults {
    margin-top: 20px;
    font-size: 20px;
}


